.display-label {
    padding-top: 0px !important;
}

.jumbotron {
    margin-bottom: 5px !important;
}


.date-container {right: 0; text-align: center;}

.date-container .date-left, .date-container .date-center, .date-container .date-right { display: inline-block; }

.date-container .date-left { float: left; }
.date-container .date-center { margin: 0 auto; }
.date-container .date-right { float: right; }
.date-clear { clear: both; }

.col-center{
  margin-top: 10px;
}

.row-eq-height {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display:         flex;
}