/*

* Override Pages default styles or create your own styles here

*/

.login-wrapper {
    height: 100%;
    background-color: transparent;
}

.login-wrapper .bg-pic > img {
    height: 100%;
    opacity: 0.9;
}